@media only screen and (min-width: 992px) {
    .jumbotron-h1 {
        font-size: 5rem;
    }
    .jumbotron-p {
        font-size: 2rem;
        padding-bottom: 10px;
    }
}

@media only screen and (max-width: 992px) {
    .jumbotron-h1 {
        font-size: 3rem;
    }
    .jumbotron-p {
        font-size: 1.5rem;
        padding-bottom: 5px;
    }
    .footer-heading {
        font-size: 1.5rem;
    }
}

.jumbotron {
    background-image: url("../img/bannerImage.jpg");
    background-size: cover;
    font-family: "Oswald", sans-serif;
    color: white;
}

.aygc-banner {
    background-color: rgba(220, 164, 125, 0.8);
}

footer h3 {
    font-family: "Oswald", sans-serif;
    color: white;
}

footer h5 {
    color: white;
}

footer p {
    color: #dca47d;
}

.social i {
    font-size: 3rem;
    color: #dca47d;
    padding: 14px;
}